/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

*{
    /* font-family: Poppins ,  Helvetica, sans-serif; */
    color: rgb(255, 255, 255);
   
}

body {
    background: none;
    background: linear-gradient( to bottom left,  rgba(246, 2, 26, 0.703), rgb(255, 102, 0) ,  var(--bs-orange), rgb(255, 188, 63)) ;
    min-height: 100vh;
    color: rgb(255, 255, 255);
  
    /* background: linear-gradient(rgb(255, 115, 0), rgba(0, 0, 0, 0.5)); */
}
.list-group-item {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  }

.list-group li  {
    display: flex;
    justify-content: space-between;
}
.list-group li  .gr  {
  display: flex;
  column-gap: 10px;
}
h6{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 499px ) {
.list-group li  {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.list-group li  .gr  {
justify-content: center;
align-items: center;
}
h2 ,h3 {
    text-align: center;
}
}

.card {
    /* padding: 10px; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
     color: rgb(255, 255, 255);
}





